
/* ----------------------------------------------------------------

	pagetitle.scss

-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Page Title
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Add here styles for page title. Thanks!
-----------------------------------------------------------------*/

#page-title {
	padding:1rem;
	
	.title {
		font-family: $heading-font;
		font-weight: 300;
		line-height: 1.2;
		color: $black;
		text-transform: uppercase;
	}
}

.breadcrumb {
	i {
		font-size: 0.25rem;
		color: $theme-color;
	}

	ul {
		li {
			a {
				font-family: $heading-font;
				font-size: 0.875rem;
				font-weight: 500;
				text-decoration: none;
				color: #969696;
	
				&.active {
					color: $theme-color;
				}
			}
		}
	}
}