
/* ----------------------------------------------------------------

	pagetitle.scss

-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Page Title
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Add here styles for page title. Thanks!
-----------------------------------------------------------------*/

#page-title {
	padding:1rem;
	
	.title {
		font-family: $heading-font;
		font-weight: 300;
		line-height: 1.2;
		color: $black;
		text-transform: uppercase;
	}

	.sub-title {
		font-weight: 500;
		font-size: 0.875rem;
		color: #969696;
		font-family: $heading-font;

		i {
			font-size: 0.25rem;
			color: $theme-color;
		}
	}
}